In [22]:
import pandas as pd
import os, time
from multiprocessing import Pool
import numpy as np
import glob
import seaborn as sns

In [23]:
parent_path ='C:\PRABHANJAN\EdNET_100Users\\'
fnames=glob.glob(parent_path+"/*.csv")
user_list=[]
for filename in fnames:
    df=pd.read_csv(filename)
    filename=filename.replace(parent_path,'')
    filename=filename.replace('.csv','')
    df['user_id']=filename
    user_list.append(df)
    

userRef_df= pd.concat(user_list,axis=0)

In [24]:
del userRef_df['timestamp']
del userRef_df['action_type']
del userRef_df['cursor_time']
del userRef_df['source']
del userRef_df['platform']

userRef_df

     item_id user_answer user_id
0      b3544         NaN      u1
1      q5012           b      u1
2      b3544         NaN      u1
3      b3238         NaN      u1
4      q4706           c      u1
...      ...         ...     ...
3955    b447         NaN    u999
3956    e447         NaN    u999
3957    b447         NaN    u999
3958    b447         NaN    u999
3959    e447         NaN    u999

[5269421 rows x 3 columns]

In [25]:
userRef_df.dropna()  #removed rows without user's question attempt

     item_id user_answer user_id
1      q5012           b      u1
4      q4706           c      u1
7      q4366           b      u1
10     q4829           a      u1
13     q6528           b      u1
...      ...         ...     ...
3941    q997           a    u999
3943    q997           c    u999
3944    q997           c    u999
3952    q447           a    u999
3954    q447           c    u999

[1194768 rows x 3 columns]

In [27]:

questions_file_path = "C:\\Users\\Prabhanjan Kulkarni\\Desktop\\IS 733\\contents\\questions.csv"
questions_df = pd.read_csv(questions_file_path)

del questions_df['bundle_id']
del questions_df['explanation_id']
del questions_df['part']
del questions_df['tags']
del questions_df['deployed_at']

In [28]:
userfinal_df=pd.merge(userRef_df, questions_df, left_on='item_id', right_on='question_id')
userfinal_df["final"]=np.where(userfinal_df['user_answer']==userfinal_df['correct_answer'],True,False)
userfinal_df

        item_id user_answer user_id question_id correct_answer  final
0         q5012           b      u1       q5012              c  False
1         q5012           b   u1014       q5012              c  False
2         q5012           c   u1014       q5012              c   True
3         q5012           c   u1014       q5012              c   True
4         q5012           a   u1043       q5012              c  False
...         ...         ...     ...         ...            ...    ...
1194763  q18056           a    u775      q18056              c  False
1194764  q18056           c    u929      q18056              c   True
1194765  q18056           a    u948      q18056              c  False
1194766  q18056           b    u948      q18056              c  False
1194767   q6291           a    u917       q6291              a   True

[1194768 rows x 6 columns]

In [29]:
userprofile = userfinal_df['user_id'].value_counts()

In [30]:
userprofile_table=pd.DataFrame({'user_id':userprofile.index, 'attempts':userprofile.values})

In [31]:
userprofile_table

    user_id  attempts
0      u226     41348
1      u995     32771
2      u622     19709
3     u1014     18695
4      u743     18088
..      ...       ...
994    u943         5
995   u1069         3
996    u517         2
997    u291         2
998     u10         1

[999 rows x 2 columns]

In [32]:
userName = userprofile_table['user_id'].unique()
correct=[]
j=0
for i in range(len(userName)):
    counter = 0
    for index,row in userfinal_df.iterrows():
        if userName[i] == row['user_id'] and row['final']==True:
                counter+=1
    correct.append(counter)

In [33]:
userprofile_table['correct_answers']=correct

In [34]:
userprofile_table['user_accuracy']=userprofile_table['correct_answers'].astype(float)/userprofile_table['attempts'].astype(float)

In [35]:
lec_wat=0
exp_read=0
user_lec=[]
user_exp=[]
user_index=[]
def get_count_of_lec_explanation(files,a):
    global lec_wat
    global exp_read
    global user_lec
    global user_exp
    global user_index
    current_df = pd.read_csv(files)
    count_lec = 0
    count_exp = 0
    for index, row in current_df.iterrows():
        item_id = row["item_id"]
        if item_id[:1] == "l":
            # print(file[1])
            #print(item_id[:1])
            count_lec += 1
        if item_id[:1] == "e":
            count_exp += 1
    user_index.append(a)
    user_lec.append(count_lec)
    user_exp.append(count_exp)
    lec_wat+=count_lec
    exp_read+=count_exp
    print("For user {0} Lecturs watched={1} and Explaination Read={2}\n".format(a,count_lec,count_exp))

In [36]:
parent_path = 'C:\PRABHANJAN\EdNET_100Users\\'
path = glob.glob(parent_path+"/*.csv")
for filename in path:
        user_id=filename
        user_id=user_id.replace(parent_path,'')
        user_id=user_id.replace('.csv','')
        get_count_of_lec_explanation(filename,user_id)
#c1, c2 = get_count_of_lec_explanation(file_names[0])
print("Total Lectures watched=",lec_wat)
print("Total explaination read=",exp_read)

insight_df=pd.DataFrame()
insight_df['user_id']=user_index
insight_df['Lecture_Watched']=user_lec
insight_df['Explaination_Read']=user_exp

For user u1 Lecturs watched=124 and Explaination Read=1100

For user u10 Lecturs watched=0 and Explaination Read=2

For user u100 Lecturs watched=8 and Explaination Read=28

For user u1000 Lecturs watched=1029 and Explaination Read=2038

For user u1001 Lecturs watched=0 and Explaination Read=0

For user u1002 Lecturs watched=30 and Explaination Read=194

For user u1003 Lecturs watched=32 and Explaination Read=274

For user u1005 Lecturs watched=2 and Explaination Read=136

For user u1006 Lecturs watched=8 and Explaination Read=6

For user u1007 Lecturs watched=12 and Explaination Read=712

For user u1008 Lecturs watched=16 and Explaination Read=208

For user u1009 Lecturs watched=28 and Explaination Read=212

For user u101 Lecturs watched=4 and Explaination Read=0

For user u1010 Lecturs watched=10 and Explaination Read=10

For user u1011 Lecturs watched=60 and Explaination Read=584

For user u1012 Lecturs watched=1403 and Explaination Read=4048

For user u1013 Lecturs watched=8 and Explaination Read=298

For user u1014 Lecturs watched=685 and Explaination Read=18094

For user u1015 Lecturs watched=70 and Explaination Read=408

For user u1016 Lecturs watched=0 and Explaination Read=0

For user u1017 Lecturs watched=753 and Explaination Read=654

For user u1018 Lecturs watched=6 and Explaination Read=8

For user u1019 Lecturs watched=448 and Explaination Read=2156

For user u102 Lecturs watched=4 and Explaination Read=44

For user u1020 Lecturs watched=190 and Explaination Read=688

For user u1021 Lecturs watched=24 and Explaination Read=170

For user u1022 Lecturs watched=36 and Explaination Read=116

For user u1024 Lecturs watched=0 and Explaination Read=2

For user u1026 Lecturs watched=66 and Explaination Read=962

For user u1027 Lecturs watched=0 and Explaination Read=0

For user u1028 Lecturs watched=1772 and Explaination Read=1896

For user u1029 Lecturs watched=0 and Explaination Read=16

For user u103 Lecturs watched=0 and Explaination Read=0

For user u1030 Lecturs watched=36 and Explaination Read=276

For user u1031 Lecturs watched=64 and Explaination Read=236

For user u1032 Lecturs watched=36 and Explaination Read=92

For user u1033 Lecturs watched=176 and Explaination Read=474

For user u1034 Lecturs watched=52 and Explaination Read=538

For user u1035 Lecturs watched=1326 and Explaination Read=3828

For user u1036 Lecturs watched=4 and Explaination Read=0

For user u1037 Lecturs watched=376 and Explaination Read=756

For user u1038 Lecturs watched=26 and Explaination Read=8

For user u1039 Lecturs watched=0 and Explaination Read=152

For user u104 Lecturs watched=0 and Explaination Read=0

For user u1040 Lecturs watched=20 and Explaination Read=152

For user u1042 Lecturs watched=0 and Explaination Read=0

For user u1043 Lecturs watched=1052 and Explaination Read=4718

For user u1044 Lecturs watched=48 and Explaination Read=154

For user u1045 Lecturs watched=80 and Explaination Read=128

For user u1046 Lecturs watched=2216 and Explaination Read=588

For user u1047 Lecturs watched=0 and Explaination Read=80

For user u1048 Lecturs watched=4 and Explaination Read=90

For user u1049 Lecturs watched=22 and Explaination Read=78

For user u105 Lecturs watched=0 and Explaination Read=0

For user u1050 Lecturs watched=160 and Explaination Read=586

For user u1051 Lecturs watched=14 and Explaination Read=86

For user u1052 Lecturs watched=64 and Explaination Read=4

For user u1053 Lecturs watched=72 and Explaination Read=154

For user u1054 Lecturs watched=26 and Explaination Read=0

For user u1055 Lecturs watched=0 and Explaination Read=0

For user u1056 Lecturs watched=0 and Explaination Read=4682

For user u1057 Lecturs watched=0 and Explaination Read=18

For user u1058 Lecturs watched=88 and Explaination Read=672

For user u1059 Lecturs watched=526 and Explaination Read=514

For user u106 Lecturs watched=0 and Explaination Read=2

For user u1060 Lecturs watched=0 and Explaination Read=2

For user u1061 Lecturs watched=20 and Explaination Read=176

For user u1062 Lecturs watched=4 and Explaination Read=36

For user u1063 Lecturs watched=288 and Explaination Read=660

For user u1064 Lecturs watched=148 and Explaination Read=3196

For user u1065 Lecturs watched=30 and Explaination Read=276

For user u1067 Lecturs watched=0 and Explaination Read=150

For user u1068 Lecturs watched=0 and Explaination Read=12

For user u1069 Lecturs watched=6 and Explaination Read=2

For user u107 Lecturs watched=76 and Explaination Read=42

For user u1070 Lecturs watched=14 and Explaination Read=28

For user u1073 Lecturs watched=1896 and Explaination Read=5026

For user u1074 Lecturs watched=100 and Explaination Read=830

For user u1075 Lecturs watched=30 and Explaination Read=64

For user u1076 Lecturs watched=10 and Explaination Read=144

For user u1077 Lecturs watched=192 and Explaination Read=300

For user u1078 Lecturs watched=2238 and Explaination Read=890

For user u1079 Lecturs watched=20 and Explaination Read=56

For user u108 Lecturs watched=0 and Explaination Read=0

For user u1080 Lecturs watched=12 and Explaination Read=64

For user u1081 Lecturs watched=0 and Explaination Read=522

For user u1082 Lecturs watched=474 and Explaination Read=758

For user u1083 Lecturs watched=313 and Explaination Read=48

For user u1084 Lecturs watched=68 and Explaination Read=4

For user u1085 Lecturs watched=32 and Explaination Read=386

For user u1086 Lecturs watched=112 and Explaination Read=766

For user u1087 Lecturs watched=0 and Explaination Read=324

For user u1088 Lecturs watched=368 and Explaination Read=230

For user u1089 Lecturs watched=12 and Explaination Read=80

For user u1090 Lecturs watched=16 and Explaination Read=40

For user u1091 Lecturs watched=91 and Explaination Read=734

For user u1092 Lecturs watched=34 and Explaination Read=74

For user u1094 Lecturs watched=0 and Explaination Read=14

For user u1095 Lecturs watched=256 and Explaination Read=888

For user u1096 Lecturs watched=581 and Explaination Read=5982

For user u1097 Lecturs watched=920 and Explaination Read=1026

For user u1098 Lecturs watched=40 and Explaination Read=130

For user u1099 Lecturs watched=0 and Explaination Read=60

For user u11 Lecturs watched=547 and Explaination Read=5270

For user u1100 Lecturs watched=18 and Explaination Read=468

For user u1101 Lecturs watched=0 and Explaination Read=66

For user u1102 Lecturs watched=6 and Explaination Read=238

For user u1103 Lecturs watched=0 and Explaination Read=612

For user u1104 Lecturs watched=90 and Explaination Read=910

For user u1105 Lecturs watched=148 and Explaination Read=394

For user u1106 Lecturs watched=0 and Explaination Read=0

For user u1107 Lecturs watched=0 and Explaination Read=628

For user u1108 Lecturs watched=790 and Explaination Read=5868

For user u1109 Lecturs watched=214 and Explaination Read=4666

For user u111 Lecturs watched=4 and Explaination Read=2

For user u1110 Lecturs watched=184 and Explaination Read=76

For user u1111 Lecturs watched=12 and Explaination Read=2

For user u1112 Lecturs watched=20 and Explaination Read=712

For user u1113 Lecturs watched=6 and Explaination Read=652

For user u1114 Lecturs watched=8 and Explaination Read=436

For user u1115 Lecturs watched=78 and Explaination Read=810

For user u1116 Lecturs watched=28 and Explaination Read=1238

For user u1117 Lecturs watched=28 and Explaination Read=272

For user u1118 Lecturs watched=92 and Explaination Read=2262

For user u1119 Lecturs watched=16 and Explaination Read=22

For user u112 Lecturs watched=4 and Explaination Read=8

For user u1120 Lecturs watched=18 and Explaination Read=124

For user u1121 Lecturs watched=76 and Explaination Read=1650

For user u1123 Lecturs watched=14 and Explaination Read=50

For user u1124 Lecturs watched=85 and Explaination Read=612

For user u1126 Lecturs watched=14 and Explaination Read=262

For user u1127 Lecturs watched=0 and Explaination Read=0

For user u1128 Lecturs watched=858 and Explaination Read=1232

For user u1129 Lecturs watched=4 and Explaination Read=102

For user u113 Lecturs watched=8 and Explaination Read=52

For user u1130 Lecturs watched=0 and Explaination Read=2

For user u1131 Lecturs watched=24 and Explaination Read=76

For user u1132 Lecturs watched=4 and Explaination Read=322

For user u1133 Lecturs watched=34 and Explaination Read=118

For user u1134 Lecturs watched=2 and Explaination Read=1966

For user u1135 Lecturs watched=652 and Explaination Read=504

For user u1136 Lecturs watched=1516 and Explaination Read=2106

For user u1137 Lecturs watched=85 and Explaination Read=502

For user u1138 Lecturs watched=38 and Explaination Read=524

For user u1139 Lecturs watched=386 and Explaination Read=24

For user u114 Lecturs watched=0 and Explaination Read=0

For user u1140 Lecturs watched=44 and Explaination Read=28

For user u1142 Lecturs watched=469 and Explaination Read=2234

For user u1144 Lecturs watched=103 and Explaination Read=1174

For user u1145 Lecturs watched=444 and Explaination Read=7742

For user u1146 Lecturs watched=40 and Explaination Read=882

For user u1147 Lecturs watched=142 and Explaination Read=362

For user u1148 Lecturs watched=0 and Explaination Read=892

For user u1149 Lecturs watched=40 and Explaination Read=194

For user u115 Lecturs watched=548 and Explaination Read=898

For user u1150 Lecturs watched=0 and Explaination Read=114

For user u1151 Lecturs watched=0 and Explaination Read=4

For user u1152 Lecturs watched=350 and Explaination Read=1836

For user u1154 Lecturs watched=1278 and Explaination Read=12692

For user u1155 Lecturs watched=32 and Explaination Read=36

For user u1156 Lecturs watched=54 and Explaination Read=758

For user u1157 Lecturs watched=0 and Explaination Read=252

For user u1158 Lecturs watched=49 and Explaination Read=250

For user u1159 Lecturs watched=177 and Explaination Read=1022

For user u116 Lecturs watched=0 and Explaination Read=2

For user u1160 Lecturs watched=16 and Explaination Read=1456

For user u1161 Lecturs watched=30 and Explaination Read=590

For user u1162 Lecturs watched=0 and Explaination Read=8

For user u1163 Lecturs watched=120 and Explaination Read=406

For user u1164 Lecturs watched=30 and Explaination Read=680

For user u1165 Lecturs watched=30 and Explaination Read=2358

For user u117 Lecturs watched=58 and Explaination Read=1380

For user u118 Lecturs watched=570 and Explaination Read=2032

For user u119 Lecturs watched=1608 and Explaination Read=8340

For user u12 Lecturs watched=0 and Explaination Read=68

For user u120 Lecturs watched=0 and Explaination Read=80

For user u121 Lecturs watched=0 and Explaination Read=254

For user u122 Lecturs watched=0 and Explaination Read=0

For user u123 Lecturs watched=52 and Explaination Read=194

For user u124 Lecturs watched=0 and Explaination Read=2

For user u125 Lecturs watched=8 and Explaination Read=54

For user u126 Lecturs watched=76 and Explaination Read=3152

For user u127 Lecturs watched=96 and Explaination Read=364

For user u128 Lecturs watched=34 and Explaination Read=28

For user u13 Lecturs watched=0 and Explaination Read=124

For user u130 Lecturs watched=8 and Explaination Read=10

For user u131 Lecturs watched=841 and Explaination Read=1478

For user u132 Lecturs watched=0 and Explaination Read=0

For user u133 Lecturs watched=0 and Explaination Read=146

For user u134 Lecturs watched=0 and Explaination Read=0

For user u136 Lecturs watched=0 and Explaination Read=0

For user u137 Lecturs watched=0 and Explaination Read=0

For user u138 Lecturs watched=392 and Explaination Read=2146

For user u139 Lecturs watched=4 and Explaination Read=2

For user u14 Lecturs watched=12 and Explaination Read=250

For user u140 Lecturs watched=160 and Explaination Read=458

For user u141 Lecturs watched=430 and Explaination Read=5168

For user u142 Lecturs watched=0 and Explaination Read=104

For user u143 Lecturs watched=26 and Explaination Read=72

For user u144 Lecturs watched=4 and Explaination Read=254

For user u145 Lecturs watched=18 and Explaination Read=90

For user u146 Lecturs watched=4 and Explaination Read=228

For user u147 Lecturs watched=861 and Explaination Read=3406

For user u148 Lecturs watched=0 and Explaination Read=28

For user u149 Lecturs watched=0 and Explaination Read=2

For user u15 Lecturs watched=0 and Explaination Read=2586

For user u150 Lecturs watched=0 and Explaination Read=10

For user u151 Lecturs watched=0 and Explaination Read=0

For user u152 Lecturs watched=110 and Explaination Read=1510

For user u153 Lecturs watched=4 and Explaination Read=12

For user u154 Lecturs watched=1876 and Explaination Read=6844

For user u155 Lecturs watched=0 and Explaination Read=0

For user u156 Lecturs watched=0 and Explaination Read=0

For user u159 Lecturs watched=1198 and Explaination Read=5132

For user u16 Lecturs watched=1383 and Explaination Read=9036

For user u160 Lecturs watched=4 and Explaination Read=6

For user u161 Lecturs watched=8 and Explaination Read=48

For user u162 Lecturs watched=465 and Explaination Read=5100

For user u163 Lecturs watched=80 and Explaination Read=140

For user u164 Lecturs watched=230 and Explaination Read=2550

For user u166 Lecturs watched=14 and Explaination Read=436

For user u167 Lecturs watched=38 and Explaination Read=56

For user u168 Lecturs watched=0 and Explaination Read=0

For user u169 Lecturs watched=0 and Explaination Read=0

For user u170 Lecturs watched=216 and Explaination Read=118

For user u171 Lecturs watched=20 and Explaination Read=10

For user u172 Lecturs watched=4 and Explaination Read=0

For user u173 Lecturs watched=18 and Explaination Read=64

For user u174 Lecturs watched=58 and Explaination Read=816

For user u175 Lecturs watched=0 and Explaination Read=0

For user u177 Lecturs watched=432 and Explaination Read=1812

For user u178 Lecturs watched=288 and Explaination Read=1258

For user u180 Lecturs watched=154 and Explaination Read=398

For user u181 Lecturs watched=48 and Explaination Read=1544

For user u182 Lecturs watched=36 and Explaination Read=58

For user u183 Lecturs watched=0 and Explaination Read=38

For user u184 Lecturs watched=278 and Explaination Read=432

For user u185 Lecturs watched=138 and Explaination Read=192

For user u188 Lecturs watched=4 and Explaination Read=0

For user u189 Lecturs watched=0 and Explaination Read=6

For user u19 Lecturs watched=0 and Explaination Read=310

For user u190 Lecturs watched=0 and Explaination Read=4

For user u191 Lecturs watched=157 and Explaination Read=2314

For user u192 Lecturs watched=159 and Explaination Read=6678

For user u193 Lecturs watched=0 and Explaination Read=0

For user u194 Lecturs watched=4 and Explaination Read=60

For user u195 Lecturs watched=0 and Explaination Read=162

For user u196 Lecturs watched=30 and Explaination Read=616

For user u197 Lecturs watched=4 and Explaination Read=194

For user u198 Lecturs watched=1642 and Explaination Read=2992

For user u199 Lecturs watched=0 and Explaination Read=0

For user u20 Lecturs watched=20 and Explaination Read=206

For user u200 Lecturs watched=16 and Explaination Read=4

For user u202 Lecturs watched=72 and Explaination Read=1510

For user u203 Lecturs watched=1880 and Explaination Read=3426

For user u204 Lecturs watched=60 and Explaination Read=4122

For user u205 Lecturs watched=94 and Explaination Read=874

For user u206 Lecturs watched=0 and Explaination Read=6

For user u21 Lecturs watched=3 and Explaination Read=318

For user u210 Lecturs watched=106 and Explaination Read=10

For user u211 Lecturs watched=0 and Explaination Read=0

For user u212 Lecturs watched=0 and Explaination Read=50

For user u213 Lecturs watched=2161 and Explaination Read=1196

For user u214 Lecturs watched=56 and Explaination Read=216

For user u217 Lecturs watched=0 and Explaination Read=12

For user u218 Lecturs watched=518 and Explaination Read=1812

For user u22 Lecturs watched=0 and Explaination Read=6

For user u221 Lecturs watched=8 and Explaination Read=576

For user u222 Lecturs watched=22 and Explaination Read=468

For user u223 Lecturs watched=24 and Explaination Read=356

For user u224 Lecturs watched=711 and Explaination Read=4262

For user u225 Lecturs watched=0 and Explaination Read=40

For user u226 Lecturs watched=440 and Explaination Read=6616

For user u227 Lecturs watched=8 and Explaination Read=226

For user u228 Lecturs watched=170 and Explaination Read=3266

For user u229 Lecturs watched=98 and Explaination Read=4206

For user u230 Lecturs watched=0 and Explaination Read=2

For user u231 Lecturs watched=14 and Explaination Read=1272

For user u232 Lecturs watched=427 and Explaination Read=1968

For user u233 Lecturs watched=370 and Explaination Read=7296

For user u234 Lecturs watched=60 and Explaination Read=210

For user u235 Lecturs watched=8 and Explaination Read=600

For user u236 Lecturs watched=875 and Explaination Read=2504

For user u237 Lecturs watched=208 and Explaination Read=2738

For user u239 Lecturs watched=26 and Explaination Read=302

For user u240 Lecturs watched=4 and Explaination Read=2

For user u241 Lecturs watched=1070 and Explaination Read=4290

For user u242 Lecturs watched=786 and Explaination Read=2266

For user u243 Lecturs watched=782 and Explaination Read=1366

For user u244 Lecturs watched=14 and Explaination Read=0

For user u245 Lecturs watched=0 and Explaination Read=0

For user u246 Lecturs watched=74 and Explaination Read=40

For user u247 Lecturs watched=0 and Explaination Read=0

For user u248 Lecturs watched=142 and Explaination Read=936

For user u250 Lecturs watched=564 and Explaination Read=772

For user u251 Lecturs watched=0 and Explaination Read=0

For user u252 Lecturs watched=24 and Explaination Read=302

For user u253 Lecturs watched=0 and Explaination Read=0

For user u254 Lecturs watched=308 and Explaination Read=3192

For user u255 Lecturs watched=30 and Explaination Read=42

For user u256 Lecturs watched=240 and Explaination Read=1610

For user u258 Lecturs watched=22 and Explaination Read=540

For user u259 Lecturs watched=880 and Explaination Read=6126

For user u260 Lecturs watched=948 and Explaination Read=1834

For user u261 Lecturs watched=8 and Explaination Read=52

For user u262 Lecturs watched=936 and Explaination Read=1836

For user u264 Lecturs watched=22 and Explaination Read=590

For user u265 Lecturs watched=548 and Explaination Read=8690

For user u266 Lecturs watched=56 and Explaination Read=238

For user u267 Lecturs watched=245 and Explaination Read=3048

For user u269 Lecturs watched=38 and Explaination Read=270

For user u270 Lecturs watched=692 and Explaination Read=3426

For user u271 Lecturs watched=462 and Explaination Read=498

For user u272 Lecturs watched=394 and Explaination Read=2854

For user u273 Lecturs watched=4 and Explaination Read=202

For user u274 Lecturs watched=455 and Explaination Read=3494

For user u275 Lecturs watched=0 and Explaination Read=98

For user u276 Lecturs watched=30 and Explaination Read=224

For user u277 Lecturs watched=22 and Explaination Read=146

For user u278 Lecturs watched=77 and Explaination Read=898

For user u279 Lecturs watched=160 and Explaination Read=26

For user u280 Lecturs watched=38 and Explaination Read=240

For user u281 Lecturs watched=8 and Explaination Read=504

For user u283 Lecturs watched=662 and Explaination Read=6450

For user u284 Lecturs watched=148 and Explaination Read=1332

For user u286 Lecturs watched=18 and Explaination Read=216

For user u287 Lecturs watched=126 and Explaination Read=506

For user u288 Lecturs watched=64 and Explaination Read=874

For user u289 Lecturs watched=387 and Explaination Read=1222

For user u290 Lecturs watched=116 and Explaination Read=6068

For user u291 Lecturs watched=0 and Explaination Read=2

For user u292 Lecturs watched=1386 and Explaination Read=4898


In [40]:
insight_df

     user_id  Lecture_Watched  Explaination_Read
0         u1              124               1100
1        u10                0                  2
2       u100                8                 28
3      u1000             1029               2038
4      u1001                0                  0
...      ...              ...                ...
996     u995             1914              16112
997     u996               34                  8
998     u997               13                194
999     u998              194                242
1000    u999               84                962

[1001 rows x 3 columns]

In [41]:
Final_UserProfileTable=pd.merge(userprofile_table, insight_df, left_on='user_id', right_on='user_id')
Final_UserProfileTable

,user_id,attempts,correct_answers,user_accuracy,Lecture_Watched,Explaination_Read
0,u226,41348,12339,0.298418,440,6616
1,u995,32771,11845,0.361448,1914,16112
2,u622,19709,7976,0.404688,343,4900
3,u1014,18695,8982,0.480449,685,18094
4,u743,18088,8216,0.454224,3075,19876
...,...,...,...,...,...,...
994,u943,5,2,0.400000,0,8
995,u1069,3,1,0.333333,6,2
996,u517,2,2,1.000000,4,4
997,u291,2,1,0.500000,0,2
998,u10,1,1,1.000000,0,2

In [43]:
Final_UserProfileTable.to_csv('UserProfile_Table_Q1.csv')